<!DOCTYPE html>
<html >
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>dataMS</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/css/mdb.min.css" rel="stylesheet"/>
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="/styles/site.css" rel="stylesheet"/>

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>
		<header>
		 <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling">
         <div class="container-fluid">
			      <a href="/" class="navbar-brand"><img src="../images/logo.png"/><strong>DMS</strong></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
					      <span class="navbar-toggler-icon"></span>
			      </button>
						<div class="collapse navbar-collapse">
							<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
									{{# each navLinks}}
									<li {{#ifeq ../section key}}class="nav-item active"{{else}}{{/ifeq}}>
										<a href="{{ href }}" class="nav-link ">{{ label }}</a>
									</li>
								{{/each}}
							</ul>
							<ul class="navbar-nav navbar-right">
								{{#if user}}
								<li><a href="/keystone/signout" id="signout">Sign Out</a></li>
								{{else}}
								<li><a href="/keystone/signin">Sign In</a></li>
								{{/if}}
							</ul>
						</div>
					</div>
		  </nav>
		</header>
		<div id="body">
			<div class="top" onclick="removeIFrame();"></div>
	    <iframe width="350" height="430" id="mychatbot" src="https://console.dialogflow.com/api-client/demo/embedded/f067576f-8f9d-42e3-b0bc-97dc191cc64b">
			</iframe>
			<div class="top"></div>
      <img class="mychatbot" src="../images/chatbot.png"/>
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>
 <footer class="page-footer stylish-color-dark center-on-small-only font-weight-normal">
				<div class="container-fluid">
	        <div class="row">

	            <!--First column-->
	            <div class="col-md-4">
	                <h5 class="title">Footer Content</h5>
	                <p>Data about department .</p>
	            </div>
	            <!--/.First column-->

	            <!--Second column-->
	            <div class="col-md-2">
	                <h5 class="title">Organization</h5>
	                <ul>
	                    <li><a href="#!">About us </a></li>
	                    <li><a href="#!">Services</a></li>
	                    <li><a href="#!">FAQ</a></li>
	                </ul>
	            </div>
	            <!--/.Second column-->
	        </div>
					<hr>
					<div class="flex-center">
						<a href="#" class=""><i class="fa fa-facebook-square fa-2x "></i></a>
						<a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
						<a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
						<a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
					</div>
	      </div>
      <!--/.Footer Links-->

		    <!--Copyright-->
		    <div class="footer-copyright">
		        <div class="container-fluid">
		            © 2017 Copyright: <a href="#"> Vamshi Bachaneboina </a>
		        </div>
		    </div>
    <!--/.Copyright-->
		</footer>
		{{!--
			//- jQuery 1.11.3 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.4 (also bundled) for better performance.
		--}}
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"></script>
		<script src="/js/navShrink.js"></script>
		<script src="/js/main.js"></script>
		{{{isAdminEditorJS user}}}
	</body>
</html>
