<div class="container blog">
	<h1 class="center-align">Showing Recent {{data.posts.results.length}} posts</h1>
	<div class="row no-gutters">
		<section class="col l8 m12 s12">
			{{#each data.posts.results}}
			<article class="post">
				<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}">
					<a class="post-cover">{{#if image}}
						<img src="{{{cloudinaryUrl image width=288 height=192 }}}" alt='{{{title}}}' >{{/if}}
					</a>
					<header>
						<h2 class="post-title">
							<a href="{{postUrl slug}}">{{{title}}}</a>
						</h2>
						<div class="post-meta">
							<p class="lead text-muted">
								{{{categoryList categories prefix="Posted in "}}} by Dr. {{author.name.first }} {{author.name.last}}
								<br> {{createdAt}}
							</p>
						</div>
					</header>
					<section class="post-body">
						<p class="truncate">{{content.brief}}</p>
						{{#if content.extended}}
						<a class="waves-effect waves-light btn " href="{{postUrl slug}}">Read more</a>
						{{/if}}
					</section>
				</div>
			</article>
			{{/each}}

		</section>

		<aside class="col l4 blog-sidebar hide-on-med-and-down ">
			<div class="widget">
				<ul>
					<li>
						<blockquote><a href="/blog" class="blockquote">All Categories</a></blockquote>
					</li>
					{{#each data.categories}}
						<li>
							<div><i class=" material-icons">wifi</i><a href="{{categoryUrl key}}" class="false list-group-item">{{name}}</a></div>
						</li>
					{{/each}}
				</ul>
			</div>
		</aside>
	</div>
	{{>pagination}}

</div>