<main>
	<div class="container">
	 <h1>Calendar</h1>
	</div>
	<div class="container">
	 <div class="row">
		 <div class="col-sm-8 col-md-9">
			 <h4 class="text-weight-normal">Showing {{data.calendars.length}} messages.</h4>
			 <div class="blog">
				 {{#each data.calendars}}
						 <div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="post">
							 <h2><a href="{{calendarUrl slug}}">{{{title}}}</a></h2>
							 <p class="lead text-muted">
									 {{#if author.name.first}}by {{author.name.first}}{{/if}}
							 </p>
							 {{#if image}}<img src="{{{cloudinaryUrl image width=160 height=160 crop='fit' }}}" class="img pull-right">{{/if}}
							 <p>{{{content.brief}}}</p>
							 {{#if content.extended}}<p class="read-more"><a href="{{calendarUrl slug}}">Read more...</a></p>{{/if}}
						 </div>
				 {{/each}}
			 </div>
		 </div>
	 </div>
	 {{>pagination}}
	</div>
</main>
