<div class="home">
	<div class="slider">
		<ul class="slides">
			<li>
				<img src="/images/intro.jpg" class="responsive-img">
				<!-- random image -->
				<div class="caption center-align">
					<h3>We build the World!</h3>
					<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
				</div>
			</li>
			<li>
				<img src="/images/cover-min.jpg" class="responsive-img">
				<!-- random image -->
				<div class="caption left-align">
					<h3>Left Aligned Caption</h3>
					<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
				</div>
			</li>
			<li>
				<img src="/images/1.jpg" class="responsive-img">
				<!-- random image -->
				<div class="caption right-align">
					<h3>Right Aligned Caption</h3>
					<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
				</div>
			</li>
			<li>
				<img src="/images/C-Block.jpg" class="responsive-img">
				<!-- random image -->
				<div class="caption center-align">
					<h3>This is our big Tagline!</h3>
					<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
				</div>
			</li>
		</ul>
	</div>

	<div class="section white">
		<div class="row secondSection ">
			<h2 class="col m4 s12 center-align ">
				<i class="material-icons large">layers</i> INNOVATE
			</h2>
			<h2 class="col m4 s12 center-align">
				<i class="material-icons large">directions_run</i>ACHIEVE
			</h2>
			<h2 class="col m4 s12 center-align">
				<i class="material-icons large">device_hub</i>LEAD
			</h2>
		</div>
	</div>
	<div class="parallax-container">
		<div class="parallax">
			<img src="/images/C-Block.jpg" alt="profile background">
		</div>
	</div>
	<div class="section4 container-fluid">
		<div class="row">
			{{#each data.professorsList}}
				<div class="col s12 m6 l4">
					<div class="card small z-depth-5">
						<div class="cardBackground header">
							<img src="{{pic.url}}" alt="Dr.Sridhar Raju" class="circle center-align">
						</div>
						<div class="card-content">
							<h1 class="card-title center-align">{{name}}</h1>
							<br>
							<a class="btn-floating halfway-fab waves-effect waves-light red activator">
								<i class="material-icons">add</i>
							</a>
							<p class="grey-text text-darken-2 center-align">{{role}}</p>
						</div>
						<div class="card-reveal">
							<h1 class="card-title">{{name}}
								<i class="material-icons right">close</i>
							</h1>
							<p>{{info}}</p>
						</div>
					</div>

				</div>
			{{/each}}
		</div>

	</div>
	<div class="parallax-container">
		<div class="parallax">
			<img src="/images/C-Block.jpg" alt="profile background">
		</div>
	</div>
</div>