<div class="container postContent">
	<div class="row">
		<div class="col l10">
			<article>
				<p><a href="/blog">&larr; back to the blog</a></p>
				<hr>
				<header>
					<h1>{{data.post.title}}</h1>
					<h5>
						<p>{{{categoryList data.post.categories prefix="Posted in "}}}</p>
						{{#if author.name.first}}by {{author.name.first}}{{/if}}
					</h5>
				</header>
				<div class="postFlow">
					{{#if data.post.image}}<img src="{{{cloudinaryUrl data.post.image width=750 height=450 crop='fit' }}}" class="responsive-img">{{/if}}
					<p>{{{data.post.content.extended}}}</p>
				</div>
			</article>
		</div>
	</div>
</div>
