<div class="container-fluid research">
    <div class="row">
        <!--mainContainer-->
        
        <!--Submitted Papers-->
        <h1 class ="h1-responsive"><strong>Submitted </strong><small class="text-muted">Research Papers</small></h1>
        {{!-- <p>{{data.publications.[0]}}</p> --}}
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                   <div class="table-wrapper-2">
                       <table class="table table-responsive-md">
                            <thead class="mdb-color lighten-4">
                                <tr> 
                                    <th class="th-lg">S.NO</th>
                                    <th class="th-lg">Paper Title</th>
                                    <th class="th-lg">Author(s)</th>
                                    <th class="th-lg">Journal</th>
                                    <th class="th-lg">Period</th>
                                </tr>
                            </thead>                           
                            <tbody>
                                {{#each data.submitted}}
                                <tr>
                                    <th scope="row">{{add @index}}</th>
                                    <td>{{title}}</td>
                                    <td>{{author}}</td>
                                    <td>{{journal}}</td>
                                    <td>
                                        {{date}}
                                    </td>
                                </tr>                                   
                                {{/each}}
                            </tbody>
                        </table>
                   </div>  
                </div>
            </div>
        </div>
        <!--End Submitted papers-->

        <!--Accepted Research Papers-->
            <h1 class="h1-responsive"><strong>Accepted</strong><small class="text-muted"> Research Papers</small></h1>
           {{!-- <p>{{data.research.[0]}}</p> --}}
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                    <div class="table-wrapper-2">
                        <table class="table table-responsive-md">
                                <thead class="mdb-color lighten-4">
                                    <tr> 
                                        <th class="th-lg">S.NO</th>
                                        <th class="th-lg">Project Title</th>
                                        <th class="th-lg">Author(s)</th>
                                        <th class="th-lg">Journal</th>
                                        <th class="th-lg">Period</th>
                                    </tr>
                                </thead>                           
                                <tbody>
                                    {{#each data.completed}}
                                    <tr>
                                        <th scope="row">{{add @index}}</th>
                                        <td>{{title}}</td>
                                        <td>{{author}}</td>
                                        <td>{{journal}}</td>
                                        <td>
                                            {{date}}
                                        </td>
                                    </tr>                                   
                                    {{/each}}
                                </tbody>
                            </table>
                    </div>  
                    </div>
                </div>
            </div>
        <!--End Accepted Research Projects-->

        <!--End mainContainer-->
        
    </div>

</div>
