<div class="container-fluid publications">
    <ul id="tabs-swipe-demo" class="tabs center-align">
        <li class="tab col s3">
            <a href="#submitted">Submitted</a>
        </li>
        <li class="tab col s3">
            <a class="active" href="#completed">Accepted</a>
        </li>
    </ul>
     <div id="submitted" class="col s12">
        {{!--
        <p>{{data.research.[0]}}</p> --}}
        <table class="striped centered">
            <thead class="mdb-color lighten-4">
                <tr>
                    <th>S.NO</th>
                    <th>Paper Title</th>
                    <th>Author(s)</th>
                    <th>Journal</th>
                    <th>Published Date</th>
                </tr>
            </thead>
            <tbody>
                {{#each data.submitted}}
                <tr>
                    <th scope="row" class="center-align">{{add @index}}</th>
                    <td>{{title}}</td>
                    <td>{{authors}}</td>
                    <td>{{journalOrBook}}</td>
                    <td>
                        {{date}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <div id="completed" class="col s12">
        {{!--
        <p>{{data.research.[0]}}</p> --}}
        <table class="striped centered">
            <thead class="mdb-color lighten-4">
                <tr>
                    <th>S.NO</th>
                    <th>Paper Title</th>
                    <th>Author(s)</th>
                    <th>Journal</th>
                    <th>Published Date</th>
                </tr>
            </thead>
            <tbody>
                {{#each data.accepted}}
                <tr>
                    <th scope="row">{{add @index}}</th>
                    <td>{{title}}</td>
                    <td>{{authors}}</td>
                    <td>{{journalOrBook}}</td>
                    <td>
                        {{date}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>