<div class="container-fluid research">
    <ul id="tabs-swipe-demo" class="tabs center-align">
        <li class="tab col s3">
            <a href="#submitted">Submitted</a>
        </li>
        <li class="tab col s3">
            <a class="active" href="#ongoing">Ongoing</a>
        </li>
        <li class="tab col s3">
            <a href="#completed">Completed</a>
        </li>
    </ul>
    <div id="submitted" class="col s12">
        {{!--
        <p>{{data.research.[0]}}</p> --}}
        <table class="striped centered">
            <thead class="">
                <tr>
                    <th>S.NO</th>
                    <th>Project Title</th>
                    <th>Principal Investigator(s)</th>
                    <th>Co-Investigator</th>
                    <th>Funding Agency</th>
                    <th>Sanctioned Amount(Lakhs)</th>
                    <th>On</th>
                </tr>
            </thead>
            <tbody>
                {{#each data.submitted}}
                    <tr>
                        <th>{{add @index}}</th>
                        <td>{{title}}</td>
                        <td>{{principalInvestigator}}</td>
                        <td>{{coInvestigator}}</td>
                        <td>{{fundingAgency}}</td>
                        <td>{{sanctionedAmount}}</td>
                        <td>
                            {{fromDate}} - {{toDate }}
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    
   <div id="ongoing" class="col s12">
        {{!--
        <p>{{data.research.[0]}}</p> --}}
        <table class="striped centered">
            <thead>
                <tr>
                    <th>S.NO</th>
                    <th>Project Title</th>
                    <th>Principal Investigator(s)</th>
                    <th>Co-Investigator</th>
                    <th>Funding Agency</th>
                    <th>Sanctioned Amount(Lakhs)</th>
                    <th>Period</th>
                </tr>
            </thead>
            <tbody>
                {{#each data.ongoing}}
                    <tr>
                        <th>{{add @index}}</th>
                        <td>{{title}}</td>
                        <td>{{principalInvestigator}}</td>
                        <td>{{coInvestigator}}</td>
                        <td>{{fundingAgency}}</td>
                        <td>{{sanctionedAmount}}</td>
                        <td>
                            {{fromDate}} - {{toDate }}
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

   <div id="completed" class="col s12">
        {{!--
        <p>{{data.research.[0]}}</p> --}}
        <table class="striped centered">
            <thead class="">
                <tr>
                    <th>S.NO</th>
                    <th>Project Title</th>
                    <th>Principal Investigator(s)</th>
                    <th>Co-Investigator</th>
                    <th>Funding Agency</th>
                    <th>Sanctioned Amount(Lakhs)</th>
                    <th>Period</th>
                </tr>
            </thead>
            <tbody>
                {{#each data.completed}}
                    <tr>
                        <th>{{add @index}}</th>
                        <td>{{title}}</td>
                        <td>{{principalInvestigator}}</td>
                        <td>{{coInvestigator}}</td>
                        <td>{{fundingAgency}}</td>
                        <td>{{sanctionedAmount}}</td>
                        <td>
                            {{fromDate}} - {{toDate }}
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>