<div class="container-fluid research">
    <div class="row">
        <!--mainContainer-->
        
        <!--Submitted Projects-->
        <h1 class ="h1-responsive"><strong>Submitted </strong><small class="text-muted">Research Projects</small></h1>
        {{!-- <p>{{data.research.[0]}}</p> --}}
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                   <div class="table-wrapper-2">
                       <table class="table table-responsive-md">
                            <thead class="mdb-color lighten-4">
                                <tr> 
                                    <th class="th-lg">S.NO</th>
                                    <th class="th-lg">Project Title</th>
                                    <th class="th-lg">Project Investigator(s)</th>
                                    <th class="th-lg">Funding Agency</th>
                                    <th class="th-lg">Sanctioned Amount(Lakhs)</th>
                                    <th class="th-lg">Period</th>
                                </tr>
                            </thead>                           
                            <tbody>
                                {{#each data.submitted}}
                                <tr>
                                    <th scope="row">{{add @index}}</th>
                                    <td>{{title}}</td>
                                    <td>{{projectInvestigator}}</td>
                                    <td>{{fundingAgency}}</td>
                                    <td>{{sanctionedAmount}}</td>
                                    <td>
                                        {{fromDate}} - {{toDate }}
                                    </td>
                                </tr>                                   
                                {{/each}}
                            </tbody>
                        </table>
                   </div>  
                </div>
            </div>
        </div>
        <!--End Submitted Projects-->
        
        <!--Ongoing Projects-->
        <h1 class ="h1-responsive"><strong>Ongoing </strong><small class="text-muted">Research Projects</small></h1>
        {{!-- <p>{{data.research.[0]}}</p> --}}
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                   <div class="table-wrapper-2">
                       <table class="table table-responsive-md">
                            <thead class="mdb-color lighten-4">
                                <tr> 
                                    <th class="th-lg">S.NO</th>
                                    <th class="th-lg">Project Title</th>
                                    <th class="th-lg">Project Investigator(s)</th>
                                    <th class="th-lg">Funding Agency</th>
                                    <th class="th-lg">Sanctioned Amount(Lakhs)</th>
                                    <th class="th-lg">Period</th>
                                </tr>
                            </thead>                           
                            <tbody>
                                {{#each data.ongoing}}
                                <tr>
                                    <th scope="row">{{add @index}}</th>
                                    <td>{{title}}</td>
                                    <td>{{projectInvestigator}}</td>
                                    <td>{{fundingAgency}}</td>
                                    <td>{{sanctionedAmount}}</td>
                                    <td>
                                        {{fromDate}} - {{toDate }}
                                    </td>
                                </tr>                                   
                                {{/each}}
                            </tbody>
                        </table>
                   </div>  
                </div>
            </div>
        </div>
        <!--End Ongoing Projects-->

        <!--Future Research Projects-->
            <h1 class="h1-responsive"><strong>Completed</strong><small class="text-muted"> Research Projects</small></h1>
           {{!-- <p>{{data.research.[0]}}</p> --}}
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                    <div class="table-wrapper-2">
                        <table class="table table-responsive-md">
                                <thead class="mdb-color lighten-4">
                                    <tr> 
                                        <th class="th-lg">S.NO</th>
                                        <th class="th-lg">Project Title</th>
                                        <th class="th-lg">Project Investigator(s)</th>
                                        <th class="th-lg">Funding Agency</th>
                                        <th class="th-lg">Sanctioned Amount(Lakhs)</th>
                                        <th class="th-lg">Period</th>
                                    </tr>
                                </thead>                           
                                <tbody>
                                    {{#each data.completed}}
                                    <tr>
                                        <th scope="row">{{add @index}}</th>
                                        <td>{{title}}</td>
                                        <td>{{projectInvestigator}}</td>
                                        <td>{{fundingAgency}}</td>
                                        <td>{{sanctionedAmount}}</td>
                                        <td>
                                            {{fromDate}} - {{toDate }}
                                        </td>
                                    </tr>                                   
                                    {{/each}}
                                </tbody>
                            </table>
                    </div>  
                    </div>
                </div>
            </div>
        <!--End Future Research Projects-->

        <!--End mainContainer-->
        
    </div>

</div>
