<div class="container contact">
	<div class="row">
		<div class="col s8 col m10">
			<div class="card-panel teal lighten-2 center-align">
				STUDENT FEEDBACK
			</div>
			<div class="card">
				<div class="card-content">
					{{#if reviewSubmitted}}
					<h3>Head of the Department has received the feedback.</h3>
					<a href="/review">Submit another feedback</a>
					{{else}}
					<form method="post">
						<input type="hidden" name="action" value="review">
						<div class="input-field col s12 {{#if validationErrors.student}}has-error{{/if}}">
							<label>Student Name</label>
							<input type="text" name="student" class="form-control" placeholder="student name">
						</div>
						<div class="input-field col s12 {{#if validationErrors.bitsId}}has-error{{/if}}">
							<label>BITS ID</label>
							<input type="text" name="bitsId" class="form-control" placeholder="ID No.">
						</div>
						<div class="input-field col s12 {{#if validationErrors.professor}}has-error{{/if}}">
							<label>Professor Name</label>
							<input type="text" name="professor" class="form-control" value="Dr. {{user.name.first}} {{user.name.last}} " readonly>
						</div>
						<div class="input-field col s12 {{#if validationErrors.project}}has-error{{/if}}">
							<label>Project Name</label>
							<input type="text" name="project" class="form-control" placeholder="project name">
						</div>
						<div class="input-field col s12 {{#if validationErrors.email}}has-error{{/if}}">
							<label>Email</label>
							<input type="email" name="email" class="form-control" value="{{user.email}}" readonly>
						</div>
						<div class="input-field col s12">
							<label>Phone</label>
							<input type="text" name="phone" placeholder="(optional)" class="form-control" value="{{formData.phone}}">
						</div>
						
						<div class="input-field col s12 {{#if validationErrors.reviewType}}has-error{{/if}}">
							<label></label>
							<select name="reviewType" class="form-control">
								<option value="">What is the feedback about?</option>
								{{#each reviewTypes}}
								<option value="{{value}}">{{label}}</option>
								{{/each}}
							</select>
						</div>

						<div class="input-field col s12 {{#if validationErrors.message}}has-error{{/if}} ">
							<label>Message</label>
							<textarea name="message" placeholder="Leave us a message..." id="textarea1" class="materialize-textarea" data-length="120">{{formData.message}}</textarea>
						</div>
						<div class="form-actions">
							<button type="submit" class="btn btn-primary">Send</button>
						</div>
					</form>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</div>