<div class="container-fluid teaching">
    <div class="row">
        {{#each data.teachingData}}
            <div class="{{ifEven @index}} cardPanel">
                <div class="card-panel grey lighten-5 z-depth-3">
                    <div class="flow-text center-align teal">
                        {{course}}
                    </div>
                    <div class="row valign-wrapper">
                        <div class="col s4 m4 l3 center-align">
                            <img src="/images/{{updatedBy}}.jpg" alt="updated by" class="circle responsive-img">
                            <p>{{professorName}}</p>
                        </div>
                        <div class="col s8 m8 l9">                          
                                <blockquote>
                                    {{{description}}}
                                </blockquote>                    
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

